<h2>{{car.matricula}}</h2>

<dl>
  <dt>Color:</dt>
  <dd>{{car.getColor()}}</dd>

  <dt>Kil&oacute;metros:</dt>
  <dd>{{car.kilometros}}</dd>

  <dt>Propietario:</dt>
  <dd>{{car.propietario}}</dd>

  <dt>Foto:</dt>
  <dd>{{car.foto}}</dd>
  
  <div *ngIf="car.existFoto()">
    <img src="http://127.0.0.1:8000/{{car.foto}}" alt="Foto pulpo"/>
  </div>
  
</dl>
